<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newstyle.css">
    <title>Peek</title>
</head>
<body>
    <div class="leave">
        <h1>Thank you for using peek</h1>
        <h3>Have a great day!</h3>
    </div>
    
</body>
</html>