body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

#video-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

video{
    height: 50vh;
    width: 30vw;
    object-fit: cover;
}
.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 85vh;
}
.main{

    background-color: black;
}
.main__left{
    background-color:black;
    height: 100vh;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.main__right{
    height: 100vh;
    background-color: #1C1E20;
}
.leave_meeting {
    color: #CC3B33;
}
.unmute,.unmute:hover, 
.stop_video:hover{
    color: #CC3B33;
}
.play_video{
    color: #CC3B33;
}
.main__controls {
    background-color:black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    min-width: 30%;
    position: fixed;
    border-radius: 30px;
    bottom: 0;
}
.main__controls__button i {
    font-size: 30px;
    cursor: pointer;
}
.main__mute_button i:hover{
    color: #CC3B33;
}
.main__chat_window{
    min-height: 85vh;
}
.main__message_container{
    height: 3vh;
    margin-top: 10px;
    align-items: center;
}


.chat{
    border: 1px solid white;
    border-radius: 10px;
}


.leave{
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    transform: translate(0%, 50%);
}

