body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#video-grid{
    display: flex;
    justify-content: center;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}
.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 85vh;
}
.main{

    background-color: black;
}
.main__left{
    background-color:black;
    height: 100vh;
}
.main__right{
    height: 100vh;
    background-color: #1C1E20;
}
.leave_meeting:hover {
    color: #CC3B33;
}

.unmute, .stop_video:hover{
    color: #CC3B33;
}
.play_video{
    color: #CC3B33;
}
.main__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 100%;
}
.main__controls__button i {
    font-size: 30px;
}
.main__mute_button i:hover{
    color: #CC3B33;
}
.main__chat_window{
    min-height: 85vh;
}
.main__message_container{
    height: 3vh;
    align-items: center;
}